@font-face {
  font-family: 'Nunito Light';
  font-style: normal;
  font-weight: 300;
  src: local(''),
  url(../fonts/Nunito-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Bold';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url(../fonts/Nunito-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Bold Italic';
  font-style: italic;
  font-weight: 700;
  src: local(''),
  url(../fonts/Nunito-BoldItalic.ttf) format('truetype');
}
* { font-family: 'Nunito Light', sans-serif; }
html { font-size: 62.5%; }
body {
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 2rem;
  max-width: 1600px;
}
ul {
  padding-left: 1em;
  list-style: circle;
}
ul > li::marker { font-size: 1.2em; }
@media (prefers-color-scheme: light) {
  body {
      background-color: white;
      color: black;
  }
}
@media (prefers-color-scheme: dark) {
  body {
      background-color: #212020;
      color: white;
  }
}
.grid-container-col-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}
.grid-container-col-4 {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}
.grid-col-span-4 { grid-column: span 4; }
.logo-container {
  position: relative;
  height: 9rem;
}
.logo-text {
  position: absolute;
  top: .85em;
  left: .5em;
  margin: 0;
  font-family: 'Nunito Bold Italic';
  font-style: italic;
  font-size: 2.4rem;
  z-index: 2;
}
.logo-mask {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 100%;
  background: linear-gradient(to top, #0000ff, #3399ff, #33ccff, #33ffcc);
  mask-image: url(../assets/logo_bg.png);
  mask-repeat: no-repeat;
  mask-size: auto 100%;
}
.heading-container h1 {
  font-family: 'Nunito Bold';
  letter-spacing: .1em;
  text-align: center;
}
#flex-date-time-container {
  letter-spacing: .05em;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: right;
}
aside {
  padding: 1em;
  background-color: rgba(0, 191, 255, 0.2);
  border: 1px solid #3399ff;
  border-radius: 3px;
}
main {
  padding: 1em;
  background-color: rgba(0, 191, 255, 0.1);
  border: 1px solid #3399ff;
  border-radius: 3px;
  grid-column: span 2;
}
main h3, aside h3 {
  margin: 0;
  font-family: 'Nunito Bold';
}
main section:nth-last-child(n+2) {
  margin-bottom: 3.5rem;
}
footer {
  padding: .5em;
  text-align: center;
  background-color: rgba(0, 191, 255, 0.2);
  border: 1px solid #3399ff;
  border-radius: 3px;
}
@media (width < calc(4rem + 900px)) {
  main {
    grid-column: span 3;
  }
}
@media (width < calc(4rem + 600px)) {
  .grid-container-col-3 {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  .heading-container h1 {
    text-align: right;
  }
  #flex-date-time-container {
    grid-column: span 2;
    text-align: center;
    justify-content: center;
  }
  aside, main {
    grid-column: span 4;
  }
}
@media (width < calc(4rem + 400px)) {
  .grid-container-col-3 {grid-template-columns: minmax(200px, 1fr);}
  .logo-container {grid-column: span 1;}
  .logo-mask {left: 25%;}
  .logo-text {left: 28%;}
  .heading-container h1 {text-align: center;}
  #flex-date-time-container {grid-column: span 1;}
}